@import "tailwindcss";
@import "katex/dist/katex.min.css";

@media (prefers-color-scheme: dark) {

  html,
  body {
    background: #050505;
    color: #e5e7eb;
  }
}

@media (prefers-color-scheme: light) {

  html,
  body {
    background: #ffffff;
    color: #0a0a0a;
  }
}

:root {
  color-scheme: light dark;

  --link: #1e90ff;
  --resalt: #95c200;
  --resalt2: #d00007;
  --resalt3: #df7b00;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  font-family: 'JetBrains Mono Variable', monospace;
}