---
import Layout from "../layouts/Layout.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import CalendarIcon from "../components/icons/Calendar.astro";
import Icon from "../components/Icon.astro";
import Exp from "../components/Exp.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Posts from "../components/Posts.astro";
---

<Layout title="blog">
  <main class="px-6">
    <SectionContainer class="flex flex-col items-center justify-center gap-y-12">
      <Posts />
    </SectionContainer>
  </main>
</Layout>