---
import Layout from "../layouts/Layout.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import CalendarIcon from "../components/icons/Calendar.astro";
import Icon from "../components/Icon.astro";
import Exp from "../components/Exp.astro";
import SectionContainer from "../components/SectionContainer.astro";
---

<Layout title="trodrigueza">
  <main class="px-6">
    <SectionContainer class="flex flex-col items-center justify-center gap-y-12">
      <img src="/me.webp" alt="Tomas Rodríguez photo" class="w-24 h-24 rounded-full" />

      <h1 class="text-xl md:text-2xl opacity-90" >Hi! I'm Tomas, a computer science student at <a href="https://en.wikipedia.org/wiki/National_University_of_Colombia" target="_blank" class="font-bold text-[var(--link)] no_underline">Universidad Nacional de Colombia</a>. <br><br>I'm interested in learning about <a class="text-[var(--resalt)] font-bold">Machine Learning</a>, <a class="text-[var(--resalt)] font-bold">LLMs</a> and <a class="text-[var(--resalt)] font-bold">Quantitave/Algorithmic trading</a>. <br><br>I love listening to <a class="text-[var(--resalt2)] font-bold">salsa</a>, practicing <a class="text-[var(--resalt2)] font-bold">cp</a> (competitive programming), going out for a <a class="text-[var(--resalt2)] font-bold">run</a> and visiting <a class="text-[var(--resalt2)] font-bold">new places</a>. <br><br>In this site I intend to share <a class="text-[var(--resalt3)] font-bold">thoughts</a>, <a class="text-[var(--resalt3)] font-bold">experiences</a> and <a class="text-[var(--resalt3)] font-bold">projects</a>; and also I want to document my <a class="text-[var(--resalt3)] font-bold">learning journey</a>. <br><br>Feel free to reach me through any of the links below :).</h1>
      <nav class="flex gap-x-4 gap-y-2 flex-wrap justify-center">
        <Icon href="https://www.github.com/trodrigueza/">
          <GitHubIcon class="md:size-5 size-4"/>
          GitHub
        </Icon>

        <Icon href="https://www.linkedin.com/in/tdrodrigueza/">
          <LinkedInIcon class="md:size-5 size-4"/>
          LinkedIn
        </Icon>

        <Icon href="mailto:trodrigueza@unal.edu.co">
          <MailIcon class="md:size-5 size-4"/>
          trodrigueza@unal.edu.co
        </Icon>
      </nav>
      <p class="text-yellow-400 flex text-center text-xs">Last update: Fri 22 Aug 01:46 <br>Still building this<br>Blogs have no content yet</p>
    </SectionContainer>

    
    <!-- <SectionContainer>
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center"> 
        <CalendarIcon class="w-7 h-7 mr-2" />
        Some Experiences
      </h2>
      <Exp />
    </SectionContainer> -->
  </main>
</Layout>
