<a
  class="rounded-full flex items-center gap-x-2 
         text-xs md:text-base py-1 px-2 md:py-2 md:px-4
         border border-zinc-800 bg-zinc-900 text-zinc-200 
         hover:bg-zinc-800 hover:scale-105
         dark:border-zinc-200/20 dark:bg-zinc-800 dark:text-zinc-100 dark:hover:bg-zinc-700
         transition"
  {...Astro.props}
  target="_blank">
  <slot />
</a>
