<a
  class="rounded-full flex items-center gap-x-2
         text-xs md:text-base py-1 px-2 md:py-2 md:px-4
         border border-zinc-300 bg-black/1 text-inherit
         hover:bg-black/3 hover:scale-[1.01]
         dark:border-zinc-200/20 dark:bg-zinc-800/10 dark:text-zinc-100 dark:hover:bg-zinc-700/30
         transition"
  {...Astro.props}
  target="_blank"
>
  <slot />
</a>
