<a href="/blog" style="margin: 20px auto 0; max-width:720px; text-decoration: none; color: inherit; cursor: pointer; font-weight: 1000; display: flex; align-items: center; gap: 5px; margin-bottom: 20px;">
  <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>
  <!-- Go Back -->
</a>
